/* HTML elements */

:root {
  /* https://github.com/meduzen/blog/issues/16 */
  scrollbar-gutter: stable;
}

kbd {
  margin: 0 .25em;
  padding: .15em .2em;

  white-space: nowrap;
  font-size: .8em;
  font-weight: 700;

  border: .15em solid;
  border-radius: .2rem;
  box-shadow: .1em .1em 0 1px currentColor;
}

abbr {
  text-decoration: none;
}

ins {
  /* @todo Find a UI idea for new content. */
  text-decoration: none;
}

/* Hide content visually */

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
  overflow: hidden;

  position: absolute;

  white-space: nowrap;
}

/* Make custom blocks more readable */

.custom-block {
  --vp-custom-block-font-size: 15px; /* was `14px` */
  line-height: calc(24 / 14) !important; /* was `24px` */
}

/* Smooth scroll for anchors */

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Highlight block “focused” by an anchor. */
/* Currently bug (due to Vitepress internal router? */

.custom-block:target {
  outline: currentColor solid;
}

/* Make element only visible under specific conditions */

@media not (prefers-color-scheme: dark) {
  .only-when-dark {
    display: none;
  }
}

@media not (prefers-color-scheme: light) {
  .only-when-light {
    display: none;
  }
}
