# https://github.com/lycheeverse/lychee-action/

name: Links validity (twice a month)

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "08 02 9,24 * *"

jobs:

  linkChecker:

    runs-on: ubuntu-latest

    permissions:
        issues: write # required for peter-evans/create-issue-from-file

    steps:
      - uses: actions/checkout@v4

      - name: Check links
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: 'https://blog.mehdi.cc'
          fail: false

      - name: Create issue
        uses: peter-evans/create-issue-from-file@v6
        with:
          issue-number: 99
          title: Lychee Report
          content-filepath: ./lychee/out.md
          labels: ci